[Desktop Entry]
Version=1.0
Type=Application
Name=Dummy Application
Comment=Простой пример приложения на C++
Exec=/usr/bin/dummy
Icon=/usr/share/icons/hicolor/256x256/apps/dummy3.png
Terminal=false
Categories=Utility;
